!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Rp-Control
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Le styles
    %link{:href => "/stylesheets/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/application.css", :rel => "stylesheet"}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "/"} Rp-Control
          %form{:action => '/login', :method => 'POST', :style => 'margin:5px 0 0 0', :class => 'pull-right form-search'}
            %input.input-small.span2{:type => 'text', :name => 'email', :placeholder => 'email', :id => 'user_email'}
            %input.input-small{:type => 'password', :name => 'password', :placeholder => 'heslo', :id => 'user_password'}
            %button{:type => 'submit', :class => 'btn', :style => 'margin:0px'} Prihlásiť

    .container
      .row
        .span12
          -#%form{:action => '/login', :method => 'POST'}
            -#%fieldset
              -#%legend Prihlásenie
              -#%div.clearfix
                -#%label{:for => 'user_email'} Email
                -#%div.input
                  -#%input{:type => 'text', :name => 'email', :placeholder => 'email', :id => 'user_email'}
              -#%div.clearfix
                -#%label{:for => 'user_password'} Heslo
                -#%div.input
                  -#%input{:type => 'password', :name => 'password', :placeholder => 'heslo', :id => 'user_password'}
              -#%div.actions
                -#%input{:type => 'submit', :value => 'Prihlásiť', :class => 'btn primary'}
                  -#%button{:type => 'reset', :class => 'btn'} Zrušiť
