/*[> Override some defaults <]*/
/*html, body {*/
  /*background-color: #eee;*/
/*}*/
/*body {*/
  /*padding-top: 40px; [> 40px to make the container go all the way to the bottom of the topbar <]*/
/*}*/
/*.container > footer p {*/
  /*text-align: center; [> center align it with the container <]*/
/*}*/
/*.container {*/
  /*width: 820px; [> downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. <]*/
/*}*/

/*[> The white background content wrapper <]*/
/*.content {*/
  /*background-color: #fff;*/
  /*padding: 20px;*/
  /*margin: 0 -20px; [> negative indent the amount of the padding to maintain the grid system <]*/
  /*-webkit-border-radius: 0 0 6px 6px;*/
     /*-moz-border-radius: 0 0 6px 6px;*/
          /*border-radius: 0 0 6px 6px;*/
  /*-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);*/
     /*-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);*/
          /*box-shadow: 0 1px 2px rgba(0,0,0,.15);*/
/*}*/

/*[> Page header tweaks <]*/
/*.page-header {*/
  /*background-color: #f5f5f5;*/
  /*padding: 20px 20px 10px;*/
  /*margin: -20px -20px 20px;*/
/*}*/

/*[> Styles you shouldn't keep as they are for displaying this base example only <]*/
/*.content .span10,*/
/*.content .span4 {*/
  /*min-height: 500px;*/
/*}*/
/*[> Give a quick and non-cross-browser friendly divider <]*/
/*.content .span4 {*/
  /*margin-left: 0;*/
  /*padding-left: 19px;*/
  /*border-left: 1px solid #eee;*/
/*}*/

/*.topbar .btn {*/
  /*border: 0;*/
/*}*/

.ui-widget-content {
  color: #808080;
}

.ui-widget-content a{
  color: #808080;
}

.ui-widget {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
}

button.ui-button{
  font-size:12px;
}

button.ui-button-icon-only {
 height: 28px;
 width: 26px;
}

input.ui-autocomplete-input{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

th.center,
td.center{
  text-align:center;
}

/*form#controls li{*/
  /*width: 100px;*/
  /*float: left;*/
/*}*/

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.hero-unit{
  padding:30px;
}

form{
  margin:0px;
}

.blue{ color:#3A87AD}
.red{color:#B94A48}
.green{color:#468847}
.yellow{color:#F89406}

input.inline_radio{
  vertical-align:top;
}


.pagination em, .pagination span {
 -moz-border-bottom-colors: none;
 -moz-border-image: none;
 -moz-border-left-colors: none;
 -moz-border-right-colors: none;
 -moz-border-top-colors: none;
 border-color: #DDDDDD;
 border-style: solid;
 border-width: 1px 1px 1px 0;
 float: left;
 line-height: 34px;
 padding: 0 14px;
 text-decoration: none;
}

.pagination em{
  color:#999999;
  background:#F5F5F5;
  font-style:normal;
}

.pagination span{
  color:#999999;
}

.pagination .previous_page{
  border-left: 1px solid #DDDDDD
}


