%table.bordered-table.zebra-striped
  %thead
    %tr
      %th ID
      %th Kontrolór
      %th Kontakt
      %th Čas
      %th Nástroje
  %tbody
    %tr
      %td 1
      %td Martin Marochnic
      %td Igor Pavelek
      %td 10 min
      %td
        %button.btn.success Overené!
    %tr
      %td 2
      %td Rado Gloznek
      %td Milan Novota
      %td 10 min
      %td
        %button.btn.success Overené!
