.content
  .hero-unit
    %h2 Nový respondent
  .row
    .span12
      %form{:action => '/contacts', :method => 'POST', :class => 'well form-horizontal'}
        %fieldset
          - if @current_user.is_admin?
            %div.control-group
              %label{:for => 'contact_branch', :class => 'control-label'} Redakcia
              %div.controls
                %select{:name => 'contact[branch_id]', :id => 'contact_branch', :class => 'combobox' }
                  %option
                  - Branch.all.each do |b|
                    %option{:value => b.id}= b.name
          - else
            %input{:type => 'hidden', :name => 'contact[branch_id]', :value => @current_user.branch_id, :id => 'contact_branch'}

          %div.control-group
            %label{:for => 'contact_first_name', :class => 'control-label'} Krstné meno
            %div.controls
              %input{:type => 'text', :name => 'contact[first_name]', :id => 'contact_first_name'}

          %div.control-group
            %label{:for => 'contact_last_name', :class => 'control-label'} Priezvisko
            %div.controls
              %input{:type => 'text', :name => 'contact[last_name]', :id => 'contact_last_name'}

          %div.control-group
            %label{:for => 'contact_phone', :class => 'control-label'} Telefón
            %div.controls
              %input{:type => 'text', :name => 'contact[phone]', :id => 'contact_phone'}

          %div.control-group
            %label{:for => 'contact_city', :class => 'control-label'} Mesto
            %div.controls
              %input{:type => 'text', :name => 'contact[city]', :id => 'contact_city'}

          %div.control-group
            %label{:for => 'contact_address', :class => 'control-label'} Ulica
            %div.controls
              %input{:type => 'text', :name => 'contact[street]', :id => 'contact_address'}

          %div.control-group
            %label{:for => 'contact_number', :class => 'control-label'} Číslo domu
            %div.controls
              %input{:type => 'text', :name => 'contact[number]', :id => 'contact_number'}

          %div.control-group
            %label{:for => 'contact_favorite', :class => 'control-label'} Oblubený kontakt?
            %div.controls
              %label{:for => 'contact_favorite_true', :class => 'checkbox inline' }
                %input{:type => 'radio', :name => 'contact[is_favorite]', :value => 'true', :checked => '', :id => 'contact_favorite_true', :class => 'inline_radio'}
                ANO
              %label{:for => 'contact_favorite_false', :class => 'checkbox inline' }
                %input{:type => 'radio', :name => 'contact[is_favorite]', :value => 'false', :checked => 'checked', :id => 'contact_favorite_false', :class => 'inline_radio'}
                NIE

          %div.control-group
            %label{:for => 'contact_description', :class => 'control-label'} Poznámka
            %div.controls
              %textarea{:name => 'contact[description]', :id => 'contact_description'}

          %div.form-actions
            %input{:type => 'submit', :value => 'Uložiť', :class => 'btn btn-primary'}
              %button{:type => 'reset', :class => 'btn'} Zrušiť
